.paired-fields > .pair-member {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 4%;
  width: 48%;
  vertical-align: top;
}

.paired-fields > .pair-member:last-child {
  margin-right: 0;
}

.paired-fields .form-select,
.paired-fields .form-text,
.paired-fields .form-textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
